<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A8826D61D7967A5009E2D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A8826EF1D7967A5009E2D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A8826FA1D7967A5009E2D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
